@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    @using Microsoft.AspNetCore.Http
}





    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Agency management</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="profile-sidebar bg-holder bg-overlay-black-70" style="background-image: url(images/banner-01.jpg);">
                        <div class="d-sm-flex align-items-center position-relative">
                            <div class="profile-avatar">
                                <img class="img-fluid  rounded-circle" src="images/agent/04.jpg" alt="">
                            </div>
                            <div class="ml-sm-4">
                                <h4 class="text-white">Admin</h4>
                                <b class="text-white">admin@gmail.com</b>
                            </div>
                            <div class="ml-auto my-4 mt-sm-0">
                                <a class="btn btn-white btn-md" href="submit-property.html"> <i class="fa fa-plus-circle"></i>Add listing </a>
                            </div>
                        </div>
                        <div class="profile-nav">
                            <ul class="nav">

                                <li class="nav-item">
                                    <a class="nav-link active" href="admin.html"><i class="far fa-edit"></i>Pending Approvals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="admin-lister.html"><i class="far fa-user"></i> Lister Management</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="admin-list.html"><i class="far fa-user"></i> List Management</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="section-title d-flex align-items-center">
                        <h2>List Management</h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table agency-management">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">List</th>
                                            <th scope="col">Requested on</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6><a href="#" class="d-block mb-2"> Pomegranate office</a></h6>

                                            </td>
                                            <td>

                                                29,Mar 2020


                                            </td>
                                            <td>

                                                <div class="form-group  select-border">



                                                    <select class="form-control basic-select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                        <option value="value 01" selected="selected" data-select2-id="3">Pending </option>
                                                        <option value="value 02">Approved </option>
                                                        <option value="value 03">Rejected</option>

                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 266.4px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-eu1l-container"><span class="select2-selection__rendered" id="select2-eu1l-container" role="textbox" aria-readonly="true" title="Pending ">Pending </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>


                                            </td>
                                            <td>
                                                <a href="#"><i class="far fa-edit pr-2"></i></a>
                                                <a href="#"><i class="far fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="#" class="d-block mb-2">Blossom Warehouse</a></h6>

                                            </td>
                                            <td>
                                                26,Mar 2020
                                            </td>
                                            <td>

                                                <div class="form-group  select-border">



                                                    <select class="form-control basic-select select2-hidden-accessible" data-select2-id="4" tabindex="-1" aria-hidden="true">
                                                        <option value="value 01" selected="selected" data-select2-id="6">Pending </option>
                                                        <option value="value 02">Approved </option>
                                                        <option value="value 03">Rejected</option>

                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 266.4px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-l6ub-container"><span class="select2-selection__rendered" id="select2-l6ub-container" role="textbox" aria-readonly="true" title="Pending ">Pending </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>


                                            </td>
                                            <td>
                                                <a href="#"><i class="far fa-edit pr-2"></i></a>
                                                <a href="#"><i class="far fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6><a href="#" class="d-block mb-2">SunValley real Cafe</a></h6>

                                            </td>
                                            <td>
                                                30,Mar 2020
                                            </td>
                                            <td>

                                                <div class="form-group  select-border">



                                                    <select class="form-control basic-select select2-hidden-accessible" data-select2-id="7" tabindex="-1" aria-hidden="true">
                                                        <option value="value 01" selected="selected" data-select2-id="9">Pending </option>
                                                        <option value="value 02">Approved </option>
                                                        <option value="value 03">Rejected</option>

                                                    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="8" style="width: 266.4px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-4crc-container"><span class="select2-selection__rendered" id="select2-4crc-container" role="textbox" aria-readonly="true" title="Pending ">Pending </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                </div>


                                            </td>
                                            <td>
                                                <a href="#"><i class="far fa-edit pr-2"></i></a>
                                                <a href="#"><i class="far fa-trash-alt text-danger"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-white mb-0">Sign up to our newsletter to get the latest news and offers.</h3>
                </div>
                <div class="col-md-7 mt-3 mt-md-0">
                    <div class="newsletter">
                        <form>
                            <div class="form-group mb-0">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-dark b-radius-left-none">Get notified</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>