@{
    ViewData["Title"] = "ListerProfile";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
    @using Microsoft.AspNetCore.Http
}


    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>

                        <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>My profile</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="profile-sidebar bg-holder bg-overlay-black-70" style="background-image: url(images/banner-01.jpg);">
                        <div class="d-sm-flex align-items-center position-relative">
                            <div class="profile-avatar">
                                <img class="img-fluid  rounded-circle" src="images/agent/04.jpg" alt="">
                            </div>
                            <div class="ml-sm-4">
                                <h4 class="text-white">Alice Williams</h4>
                                <b class="text-white">alicewilliams@gmail.com</b>
                            </div>
                            <div class="ml-auto my-4 mt-sm-0">
                                <a class="btn btn-white btn-md" href="submit-property.html"> <i class="fa fa-plus-circle"></i>Add listing </a>
                            </div>
                        </div>
                        <div class="profile-nav">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="account-profile.html"><i class="far fa-user"></i> Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="account-my-properties.html"><i class="far fa-bell"></i>My  Lists</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="account-agency-management.html"><i class="far fa-edit"></i> List Management</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="section-title d-flex align-items-center">
                        <h2>Edit profile </h2>
                        <span class="ml-auto">Joined Mar 18, 2019</span>
                    </div>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Name </label>
                                <input type="text" class="form-control" placeholder="Lister Name">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Location</label>
                                <input type="text" class="form-control" placeholder="Location">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Permanent Address</label>
                                <input type="text" class="form-control" placeholder="Permanent Address">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Secondary Address</label>
                                <input type="text" class="form-control" placeholder="Secondary Address">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Mobile</label>
                                <input type="text" class="form-control" placeholder="Mobile No">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Alternate Mobile</label>
                                <input type="text" class="form-control" placeholder="Alternate mobile">
                            </div>

                            <div class="form-group col-md-6 select-border">
                                <label>Password</label>
                                <input type="text" class="form-control" placeholder="******">
                            </div>
                            <div class="form-group col-md-6 select-border">
                                <label>Website</label>
                                <input type="text" class="form-control" placeholder="Website">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Short Description</label>
                                <textarea class="form-control" rows="4" placeholder="Short Description"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Full Description</label>
                                <textarea class="form-control" rows="4" placeholder="Full Description"></textarea>
                            </div>

                            <div class="col-md-12">
                                <a class="btn btn-primary" style="float:right" href="#">Save Changes</a>
                            </div>
                        </div>
                    </form>
                    <hr class="my-5">
                    <div class="mb-5">
                        <h6>Documents</h6>

                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label>Document</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <label>Description </label>
                                <input type="text" class="form-control" placeholder="Description">
                            </div>

                            <div class="form-group col-md-2">

                                <a href="#"><i class="far fa-trash-alt text-danger"></i></a>
                            </div>


                        </div>
                        <a class="btn btn-primary mt-3" href="#"><i class="fas fa-plus-circle"></i> New Document</a>
                        <a class="btn btn-primary pull-right" style="float:right" href="#">Next</a>
                    </div>
                    <div class="mb-2">
                        <h6>Delete Account?</h6>
                        <p>This will remove your login information from our system, and you will not be able to login again. It cannot be undone.</p>
                        <a class="btn btn-danger" href="#">Yes Delete My Account</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-white mb-0">Sign up to our newsletter to get the latest news and offers.</h3>
                </div>
                <div class="col-md-7 mt-3 mt-md-0">
                    <div class="newsletter">
                        <form>
                            <div class="form-group mb-0">
                                <input type="email" class="form-control" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-dark b-radius-left-none">Get notified</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

